@import url(styles/header.css);
@import url(styles/grid.css);
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
:root{
    --cor-de-fundo: #cfe4f5;
    --branco: #f5f5f5;
    --amarelo:  #d347e6;
    --roxo-degrade: 
    linear-gradient(94.49deg,  #a44fbb 35.48%,  #ca85e7 143.32%);

}
body{
    background-color: var(--cor-de-fundo);
}
